@font-face {
  font-family: 'Google Sans'; 
  src: url('../assets/Fonts/GoogleSans-Regular.woff2') format('woff2'),
       url('../assets/Fonts/GoogleSans-Regular.woff') format('woff'),
       url('../assets/Fonts/GoogleSans-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Google Sans', sans-serif; 
  font-size: 16px;
  font-weight: 300;
  color: #202124;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  text-rendering: optimizeLegibility; 
}
/* Target bold or strong text within all elements */
* b, * strong { 
  font-weight: 600; /* Or 700, depending on your preference */
  letter-spacing: 0.03em; /* Can slightly improve readability */ 
}


/* Style for code blocks */
pre[class*="language-"] {
  max-width: 80%; 
  overflow-x: auto; 
}

.image-container {
  aspect-ratio: 16 / 9; /* Adjust this ratio as needed */ 

}

.rounded-image {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: contain;
}







[data-md-color-scheme="TrendingNow"] {
  --md-primary-fg-color:        #FCFCFC;
  --md-primary-fg-color--light: #FCFCFC;
  --md-primary-fg-color--dark:  #1B1B1B;
}

.md-header__topic:first-child {
font-weight: 500;
}

@media (prefers-color-scheme: light) {
.md-nav__source {
  background-color: var(--md-primary-fg-color--light);
}
}